/* main_app */

.main-title {
    font-size: 2.4em;
    color: #1195CE;
    font-weight: bold;
    margin-top: -60px;
    padding-bottom: 0.5em;
    text-align: center;
}

.main-sub-title {
    font-size: 1.4em;
    color: #8999a8;
    /* font-weight: bold; */
    margin-top: -20px;
    padding-bottom: 0.5em;
    text-align: center;
}

.stButton>button {
    background-color: #F2F6FF;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.stButton>button:hover {
    background-color: #1195CE;
    color: white;
    ;
}